/* CSS Document */

body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Cairo', sans-serif;
    font-size: 13px;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

#mainBanner img {
	transform: scaleX(-1);
}

.bannerCaption {
	position: absolute;
	bottom: 175px;
	left: 150px;
	text-align: center;
	width: 500px;
	z-index: 10;
}

#mainBanner h5 {
	font-weight: 700;
	font-size: 60px;
	text-transform: uppercase;
	color: #240C33;
}

#mainBanner p, #mainBanner .btn {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
}

#mainBanner a {
	padding: 15px 20px;
	border: 1px solid #240C33;
	border-radius: 500px;
}

.headerHome {
	padding-top: 25px;
	padding-bottom: 25px;
}

.headerHomeScroll {
	background-color: rgba(255,255,255,0.9);
}

img.logo {
	margin-right: 40px;
}

#searchKeyword {
	margin-top: 15px;
	border: 1px solid rgba(36,12,51,0.35);
	border-radius: 500px;
	background-color: rgba(255,255,255,0.35);
	font-size: 14px;
	padding: 20px 50px 20px 20px;
	width: 100%;
}

.input-icons i {
	position: absolute;
	padding: 30px 20px;
	min-width: 50px;
	text-align: center;
}

.input-icons {
	width: 100%;
	margin-bottom: 10px;
}

.topIcons {
	text-align: center;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 14px;
}

.topIcons:hover {
	color: #240C33;
}

.topNavLink {
	font-size: 16px;
	font-weight: 700;
	color: #240C33;
	margin-right: 30px;
	transition: all 0.5s ease-in-out 0.1s;
}

.topNavLink:hover, .topNavLink:active, .topNavLink.active {
	color: #C82257;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: solid 2px #C82257;
}

.topNav {
	margin-left: 15px;
	margin-top: 30px;
}

h2 {
	font-weight: 700;
	color: #212121;
	text-align: center;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 50px;
}

.prodName, .prodPrice {
	font-size: 16px;
	font-weight: 700;
	color: #000000;
}

.prodName:hover {
	text-decoration: none;
	color: #C82257;
}

.prodDetails {
	margin-top: 15px;
}

.prodList{
    margin-right: 50px;
}

.prodList .prodImg, .styleList .prodImg {
	position: relative;
}

.prodList .prodActions {
	display: none;
	position: absolute;
	bottom: 0px;
	background-color: rgba(255,255,255,0.8);
}

.prodList .btnBag, .prodList .btnWish {
	text-transform: uppercase;
	font-size: 14px;
	padding: 8px 15px;
	border-radius: 3px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.prodList .btnBag {
	background-color: #C82257;
	color: #ffffff;
}

.prodList .btnWish {
	border: 1px solid #707070;
	margin-right: 10px;
	color: #000000;
	background-color: rgba(255,255,255,1);
}

.prodList .btnBag:hover, .prodList .btnWish:hover {
	box-shadow: 0px 0px 5px 0px rgba(200,34,87,0.5);
}

.prodList .prodListSingle, .styleList .styleListSingle {
	display: inline-block;
	margin-right: 50px;
}

.prodList .prodSize {
	display: none;
	width: 100%;
	position: absolute;
	bottom: 40px;
	background-color: rgba(255,255,255,0.9);
	padding: 10px 0px;
}

.prodList .prodSizeTitle {
	color: #707070;
}

.prodList .sizeOption {
	font-size: 14px;
	font-weight: 300;
	border: 1px solid #707070;
	border-radius: 100%;
	margin: 0 3px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: #707070;
}

.prodList .sizeOption:hover, .prodList .sizeOption:active, .prodList .sizeOption.active {
	border-color: #C82257;
	color: #C82257;
}

.prodList .sizeOptions {
	margin-top: 20px;
	margin-bottom: 20px;
}

.nextIcon i {
	color: #240C33;
	font-size: 55px;
	margin-bottom: 35px;
}

.nextIcon a {
	display: block;
}

a.viewAll {
	color: #C82257;
	font-size: 15px;
	font-weight: 700;
}

a.viewAll:hover {
	text-decoration: none;
}

.prodListSingle a:active {
	text-decoration: none;
}

.offerCenterBig {
	position: relative;
}

.offerCenterBtn {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	display: block;
	left: 50%;
	margin-left: -120px;
	bottom: 10%;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	padding: 20px 65px;
	border-radius: 500px;
}

.offerCenterBtn:hover {
	box-shadow: 0px 0px 5px 0px rgba(200,34,87,0.5);
	color: #ffffff;
}

.prodListNormal .prodListSingle {
	margin: 0px 15px 90px 15px;
}

.styleName {
	background-color: #000000;
	color: #ffffff;
	width: 219px;
	padding: 20px 0px;
	text-align: center;
}

footer {
	margin-top: 100px;
	background-color: #240C33;
	padding: 70px 0px 0px 0px;
	color: #ffffff;
}

footer a {
	color: #ffffff;
	text-decoration: none;
	line-height: 40px;
	display: block;
}

footer a:hover {
	color: #ffffff;
	text-decoration: none;
}

footer h3 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
}

a.appLink {
	display: inline-block;
}

a.iconLink {
	display: inline-block;
	font-size: 22px;
	margin-left: 50px;
}

#footerEmail {
	margin-top: 15px;
	border: 1px solid rgba(36,12,51,0.35);
	border-radius: 500px;
	background-color: rgba(255,255,255,0.35);
	font-size: 14px;
	padding: 20px;
	color: #ffffff;
}

#footerEmail::placeholder {
	color: #ffffff;
}

.footerBtn {
	background-color: #16071F;
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 35px;
	margin-top: 15px;
	border-radius: 500px;
	margin-right: -30px;
	z-index: 99;
}

.copyrightFooter {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 70px;
}

.bigBC .breadcrumb-item a {
	font-size: 20px;
	font-weight: 700;
	color: #240C33;
}

.bigBC li.active a {
	color: #C82257;
}

.bigBC .breadcrumb-item + .breadcrumb-item::before {
	content: "------>";
	font-size: 20px;
	color: #C82257;
	letter-spacing: 5px;
}

h4 {
	font-size: 20px;
	font-weight: 700;
}

.shoppingBag h5 {
	font-size: 16px;
	font-weight: 700;
}

.col-sm-3 a{
	color: #707070; 
	font-family: Roboto; 
	font-size: 20px;
}

.col-sm-3 a:hover{
	color:#C82257;
	text-decoration: none;
}

.prodList .btnWish {
	text-transform: uppercase;
	font-size: 14px;
	padding: 8px 15px;
	border-radius: 3px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}


.prodList .btnWish:hover {
	box-shadow: 0px 0px 5px 0px rgba(200,34,87,0.5);
}


#similaritems   h2{
	margin-top: 100px;
	font-size: 25px;
}

.tab-pane span{
	color: #C82257;

}

.breadcrumb {
	background-color: transparent;
}

.breadcrumb-item.active {
	color: #C82255;
}

.headerFix {
	margin-top: 180px;
}

.breadcrumb-item a {
	color: black;
	text-decoration: none;
	font-size: 13px;
}

.btnNl {
	text-transform: uppercase;
	background-color: #C82257;
	color: #ffffff;
	width: 100%;
	padding: 10px 0;
}

.btnNlStroke {
	text-transform: uppercase;
	border: solid 1px #C82257;
	color: #C82257;
	width: 100%;
	padding: 10px 0;
}

.btnFb {
	background-color: #1877f2;
	color: #ffffff;
}

.sideMenuList a {
	color: #333333;
	font-size: 18px;
}

.sideMenuList a:hover {
	text-decoration: none;
	color: #C82257;
}

.sideMenuList li {
	padding-top: 15px;
	padding-bottom: 15px;
}

.sideMenuList li.active {
	color: #C82257;
	font-weight: 700;
}

div.btnNl {
	font-weight: 700;
	text-align: center;
	font-size: 16px;
}

.trackBtn {
	font-size: 16px;
	color: #212121;
}

.trackBtn i {
	color: #C82257;
	margin-right: 5px;
}

.font16 {
	font-size: 16px;
}

/* Added by Aneesh S on 09-12-2019 */

#filters .card-header {
	padding: 0;
	background-color: transparent !important;
	border: none !important;
}

#filters h2 {
	text-align: left !important;
}

#filters .btn {
	font-size: 13px;
}

.custom-select {
	color: #C82257 !important;
	font-size: 13px;
	font-weight: 700;
}

.custom-select select {
	color: #212121 !important;
}

.badgeNl {
	background-color: #C82257;
	padding: 5px 10px;
	font-size: 14px;
	color: #ffffff;
}

.strikedText {
	text-decoration: line-through;
}

.discountText {
	font-weight: 400;
	color: #C82257;
}

.linkNl {
	color: #C82257;
}

.linkNl:active, .linkNl:focus {
	border: 0;
	outline: 0;
	box-shadow: none;
}

.btnBagBig {
	background-color: #C82257;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px 40px;
	font-size: 16px;
	border-radius: 5px;
}

.btnWishBig {
	color: #C82257;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px 40px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #C82257;
}

.btnBagBig:hover, .btnWishBig:hover {
	color: inherit;
	text-decoration: none;
}
.productSmallImg img {
	opacity: 0.7;
	margin-bottom: 5px;
}

.productSmallImg > img {
	opacity: 1 !important;
}

.productSmallImg img:hover, .productSmallImg img:active {
	opacity: 1;
}

.plusSign {
	font-size: 24px;
}

.accordion h6 {
	font-size: 13px;
}

.accordion a.btn:hover, .accordion a.btn:active, .accordion a.btn:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

#description-tab, #returnPolicy-tab {
	text-transform: uppercase;
	color: #000000;
	font-size: 16px;
}

.nlColour {
	color: #C82257;
}

.languageSel a {
	display: inline-block;
}